html,
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:black
}

div.next-pieces * {
  background-repeat: no-repeat;
  width: 180px;
  height: 150px;
  display: block;
}
div.conteneur{

  display: flex;
  flex-direction: row;
}

*{
  box-sizing: border-box;
}
div#score {
  color: white;
  font-size: 82px;
}